@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');



.mainTitle {
    font-size: 35px;
    font-weight: bold;
    color: #222729;
    font-family: 'Roboto Slab', serif;
}

.importante{
    font-family: 'Zen Kurenaido', sans-serif;
}