@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Zen+Antique&display=swap');

.titulo{
    font-size: 35px;
    font-weight: bold;
    color: #222729;
    font-family: 'Roboto Slab', serif;
}

.subtitulo{
    font-size: 17px;
    font-weight: bold;
    color: #fc0000;
    font-family: 'Roboto Slab', serif;
}

.parrafo {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 8px;
}

.defTitle {
    font-size: 17px;
    font-weight: bold;
    color: #292722;
    font-family: 'Roboto Slab', serif;
}
.caption{
    font-size: 12px;
    font-weight: bold;
    color: #53595c;
    font-family: 'Roboto Slab', serif;
}

.link{
    font-size: 15px;
    font-weight: bold;
    color: #1e58a3;
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}

.biblio{
    font-size: 16px;
    color: #686868;
    font-family: 'Roboto Slab', serif;
}